{
  "env": {
    "browser": true
  },
  "globals": {
    "document": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:react/jsx-runtime"],
  "rules": {
    "react/function-component-definition":[2, { "namedComponents": "arrow-function" }],
    "no-param-reassign": ["error", { "props": false }],
    "linebreak-style": ["error", "windows"],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/button-has-type": 0,
    "react/jsx-props-no-spreading": [
      1,
      {
        "html": "ignore"
      }
    ],
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
